.name{
  border:2px solid rgb(58, 58, 4);
  border-radius: 20px;
  background-color: rgb(218, 204, 184);
  margin:15px;
  padding:25px;
  color:black;
}
.country-visited{
  background-color: brown;
}
.list{
  text-align: left;
  color:rgb(255, 255, 255);
}